.bigCircle{
    width: 250px;
    height: 250px;
    background-color: #192655;
    border-radius: 50%;
    position: absolute;
    top:400px;
    left:30%;
}
.mediumCircle{
    width: 170px;
    height: 170px;
    background-color: #E1AA74;
    border-radius: 50%;
    position: absolute;  
    top:230px;
    left:33%;
}
.halfCircle {
    width: 140px; 
    height: 70px; 
    background-color: #3876BF; 
    border-radius: 0 0 70px 70px; 
    position:relative;
    top:160px;
    left:34%;
    animation: swing 3s infinite;
     transform-origin: top center;  
  }
  .ball {
    width: 25px; 
    height: 25px; 
    background-color: #192655; 
    border-radius: 50%;
    top:-25;
    left:80%;
    position: absolute;
    animation: roll 3s infinite; 
    transform-origin: bottom center; 
  }
  @keyframes swing {
    0% {
      transform: translateX(0px);
      transform: rotate(0deg);
    }
    35% {
      transform: translateX(65px);
      transform: rotate(-15deg);
    }
    70%{
      transform: translateX(0px);
      transform: rotate(15deg);
    }
    100% {
      transform: translateX(0px);
      transform: rotate(0deg);
    }
  
  }
  @keyframes roll {
    0% {
      top:-25px;
      left:80%;
      transform: rotate(0deg);
    }
    50%{
      top:-25px;
      left:1%;
      transform: rotate(40deg);
    }
    100%{
      top:-25px;
      left:80%;
      transform: rotate(0deg);
    }
  }